html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: ;*/
    font-size: 0.9em;
    line-height: 1.2em;
}

body {
    width: 90%;
    margin: 4em auto;
}

#container {
    background-color: #415fe1;
    padding: 2em;
}

#container h1 {
    background-color: yellow;
    padding: 0.5em;
}

#container h5 {
    margin-bottom: 0;
    font-style: italic;
}

#container ul {
    margin-top: 0;
    font-style: italic;
}

#container h3 {
    margin-bottom: 0;
}

#container h4 {
    margin-bottom: 0;
    color: white;
}

.descrizione {
    margin-top: 0;
}

#primaRisposta, #secondaRisposta, #terzaRisposta, #quartaRisposta, #quintaRisposta, #sestaRisposta, #settimaRisposta, #settimaRispostaPrimaVerifica, #settimaRispostaSecondaVerifica {
    color: white;
}