html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*font-size: 0.8em;*/
    line-height: 1.5em;
    color: #333;
}

body {
    background-image: url("../images/sfondo.png");
}

header {
    width: 80%;
    margin: 1.2em auto;
    padding: 1.2em 1em;
    background-image: linear-gradient(to bottom, rgba(0,160,198,1), rgba(3,109,134,1));
    box-shadow: 0px 0px 5px 2px gray;
}

header div {
    width: 100%;
    padding: 1.1em 0 0 0;
    text-align: center;
}

header p {
    color: white;
    text-align: center;
}

nav {
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

ion-icon {
    font-size: 0.8em;
    margin-right: 0.3em;
}

main {
    width: 80%;
    margin:auto;
    background-color: white;
    box-shadow: 0px 0px 5px 2px gray;
    padding: 2em 1em;
}

#author {
    color: #a0a0a0;
}

strong {
    color: #a02571;
}

code {
    background-color:#e3e3e3;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0.2em;
}

table {
    margin:auto;
    border-collapse: collapse;
}

caption {
    color: black;
    font-weight: bold;
    font-style: italic;
}

th {
    text-align: center;
    background-color:cornflowerblue;
    color:white;
    padding: 1.2em 1.2em;
}

tr:nth-child(even) {
    background-color:#e3e3e3;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

td {
    text-align: center;
}

hr {
    border: 1px solid cornflowerblue;;
}

a {
    color: #00A0C6;
}

iframe {
    width:95%;
    border-radius: 20px;
    margin: 0 0 2em 0.2em;
}

